{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="col-6 offset-3">
        <div class="row vh-100" >
            <h1> About PEDAL</h1>
            <p>
                Pedal is a space for showcasing amazingly unique bike builds.
                Where biker lovers of all kinds can come to admire other peoples builds and / or post an
                article about their own unique build. Whether its a refurbished 90's mtb, a brand new 
                carbon gravel bike or a vintage steel road racer, all is welcome.
                Nothing is too weird!! Have a look around, become a member and get involved. 
            </p>
        </div>
        <hr>
        <div class="row vh-100" id="contact">
            <h1>Contact Us</h1>
            <p>Please get in touch with our admin staff if you are having an issue with any of
                the features of the site, or require assistance adding or removing content as a member.
                Please check the T7c's below first to see if your question can be aswered first.
            </p>
            <p>
                You can contact use by our social media accounts or directly by email, see links below.
            </p>
            <p>pedal@gmail.com</p>
        </div>
        <hr>
        <div class="row vh-100" id="tc">
            <h1>T&Cs</h1>
            <p>Do this</p>
            <p>Dont do this</p>
        </div>
    </div>
</div>

{% endblock %}