{% load static %}

<!doctype html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Agdasima&family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d11678a87a.js" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pedals</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header data-bs-theme="light">
        <div class="collapse text-bg-light" id="navbarHeader">
            <div class="container">
                <div class="row text text-center">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4>What is PEDAL</h4>
                        <p class="text-body-secondary">Pedal is a space for showcasing amazingly unique bike builds.
                            Where biker lovers of all kinds can come to admire other peoples builds and / or post an
                            article about
                            their own unique build. Whether its a refurbished 90's mtb a brand new carbon gravel bike or
                            a vintage stell road racer, all is welcome.
                            Nothing is too weird. Its also a great place to see how others have used specific bike
                            components on their steeds.
                        </p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4>Account</h4>
                        <ul class="list-unstyled">
                            
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'account_logout' %}" class="text-dark">Log Out</a></li>
                                <li><a href="{% url 'create_post' %}" class="text-dark">Show your build</a></li>
                            {% else %}
                            <li><a href="{% url 'account_login' %}" class="text-dark">Log In</a></li>
                            <li><a href="{% url 'account_signup' %}" class="text-dark">Sign Up</a></li>
                            {% endif %}
                            <li><a href="#" class="text-dark">Contact</a></li>
                            <li><a href="#" class="text-dark">About</a></li>
                            <li><a href="#" class="text-dark">T & C's</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container">
                <a href="{% url 'home' %}" class="navbar-brand d-flex align-items-center" data-mdb-ripple-color="light"><strong>PEDAL</strong></a>
                <!-- <a class="navbar-brand" href="{% url 'home' %}"><i class="fa-sharp fa-solid fa-bicycle fa-lg"></i></a> -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    <hr>
    <footer class="container text-center">
        <div class="my-4">
            <a class="btn btn-lg text-dark m-1" href="https://www.facebook.com/" role="button"
                target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-lg text-dark m-1" href="https://www.twitter.com/"
                target="_blank"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-lg text-dark m-1" href="https://www.instagram.com/" role="button"
                target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
        <div class="my-4 "></div>
            &copy 2023 Copyright: DylanKane
            <a class="btn btn-lg text-dark" href="https://github.com/dylankane" role="button"
                target="_blank"> <i class="fab fa-github"></i></a>
        </div>
    </footer>
    <script>
        setTimeout(function() {
            let messages = document.getElementById("msg");
            let alert = new bootstrap.Alert(messages);
            alert.close();
        }, 4000); 
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
    </script>
</body>

</html>