{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}
<div class="container">
    <div class="col">
        <div class="row">
            <h1>Show us your bike build<h1>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="row">
        <form method="POST">
            {{ form | crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-success btn-lg">Submit</button>
        </form>
        {% else %}
        <h2>Login or sign up to post your amazing bike build</h2>
            <p>
                <a href="{% url 'account_signup' %}">Sign Up</a>
                <span>or</span>
                <a href="{% url 'account_login' %}">login</a>
            </p>
        {% endif %}
    </div>
    
</div>

{% endblock %}