{% extends "base.html" %}


{% block content %}
<div class="container-fluid">
  <div class="col m-5">
    <div class="row">
      <h1>Delete Comment</h1>
    </div>
    <div class="row">
      <p>Are you sure you want to delete your comment, it will be gone forever......(insert dramatic music)</p>
    </div>
    <div class="row">
      <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-danger">Delete</button>
      </form>
    </div>
    <div class="row mt-4"></div>
      <a href="{{ view.get_success_url }}" class="btn btn-outline-dark">I Changed My Mind</a>
    </div>
  </div>
</div>


{% endblock %}