{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}
<div class="container">
    <div class="col">
        <div class="row">
            <h1>Edit your comment<h1>
            <p>Would you like to edit / update your comment.</p>
        </div>
    </div>
    <div class="row">
        <form method="POST">
            {{ form | crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-success btn-lg">Update</button>
        </form>
    </div>
    
</div>

{% endblock %}