{% extends "base.html" %}

{% block content %}



<div class="container-fluid">


    <section class="py-5 text-center container mylogo">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <div class="row">
                    <h1 class="fw-light text-center">P E D A L</h1>
                </div>
                <div class="row py-5 bike"><i class="fa-sharp fa-solid fa-bicycle fa-5x"></i></div>
                <div class="row">
                    <p class="text-body-secondary fw-bold sub-title">Check out these beautiful bike builds below</p>
                </div>
            </div>
        </div>
    </section>

    <div class="container-fluid mb-5">
        <div class="col mx-3">
            <div class="row">
                {% for post in posts %}
                <div class="col-md-4 mb-4">
                    <div class=" card card-cascade rounded shadow h-100">
                        <div class="view view-cascade overlay">
                            {% if "placeholder" in post.cover_image.url %}
                            <img src="/static/images/placeholder2.jpg.webp" alt="" class="img-fluid card-img-top">
                            {% else %}
                            <img src="{{ post.cover_image.url }}" alt="" class="img-fluid card-img-top">
                            {% endif %}
                        </div>
                        <div class="card-body card-body-cascade">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <span><i class="far fa-heart red"></i></span>
                                    <span class="font-weight-bold">{{ post.number_of_likes }}</span>
                                </div>
                                <div>
                                    {% with post.comments.count as total_comments %}
                                    <span><i class="fa-regular fa-comment"></i></span>
                                    <span class="font-weight-bold"> {{ total_comments }}</span>
                                    {% endwith %}
                                </div>
                            </div>
                            <div>
                                <h3 class="card-title"><a href="{% url 'post_detail' post.id post.slug %}" class="anchor">{{ post.title }}</a></h3>                    
                                <p>By: {{ post.author }}</p>
                                <p>{{ post.created_on }}</p>
                            </div>
                        </div>
                        <div class="card-footer card-footer-cascade text-muted text-center">
                            <div class="d-flex justify-content-around pb-3">
                                <a href="{% url 'categories' post.bikes %}"><span class="btn btn-outline-dark btn-sm rounded-pill">{{ post.bikes }}</span></a>
                                <a href="{% url 'categories' post.bars %}"><span class="btn btn-outline-dark btn-sm rounded-pill">{{ post.bars }}</span></a>
                                <a href="{% url 'categories' post.gears %}"><span class="btn btn-outline-dark btn-sm rounded-pill">{{ post.gears }}</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-8 offset-2 mb-3">
        <div class="row">
            <a href="{% url 'create_post' %}" class="btn btn-outline-success"><span class="p-2"><i
                class="fa-regular fa-plus fa-lg"></i></span> Show Us Your Bike</a>
        </div>
    </div>
    {% if is_paginated %}
    <nav class="mb-5" aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link text-dark rounded m-1">&laquo; PREV </a></li>
            {% endif %}
            {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="page-item disabled"><a href="?page={{ i }}" class="page-link text-dark rounded m-1">{{ i }}</a></li>
            {% else %}
                <li><a href="?page={{ i }}" class="page-link text-dark rounded m-1">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link text-dark rounded m-1"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}






