{% extends "base.html" %}

{% block template %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <div class="row title"><h1 class="fw-light text-center">P E D A L</h1></div>
            <div class="row py-5 bike"><i class="fa-sharp fa-solid fa-bicycle fa-5x"></i></div>
            <div class="row"><p class="text-body-secondary fw-bold sub-title">Check out these beautiful bike builds below</p></div>
        </div>
    </div>
</section>
<hr>
{% endblock %}