{% extends "base.html" %}

{% block content %}

<div class="container-fluid mb-5">
    <div class="col mx-3">
        <h1 class="title">Your Favourites</h1>
        <hr>
        <!-- List of posts -->
        <div class="row mt-4">
            {% for post in posts %}
            <div class="col-md-4 mb-4">
                <!-- Post card / conatainer-->
                <div class=" card card-cascade rounded shadow h-100">
                    <div class="view view-cascade overlay">
                        <!-- Feature image -->
                        {% if "placeholder" in post.cover_image.url %}
                        <img src="https://res.cloudinary.com/defppxuea/image/upload/v1689765450/static/images/placeholder2.jpg.b5217726b98b.webp" 
                            alt="placeholder image of bike parts" class="img-fluid card-img-top">
                        {% else %}
                        <img src="{{ post.cover_image.url }}" alt="image of bike uploaded by user" class="img-fluid card-img-top">
                        {% endif %}
                    </div>
                    <!-- Card body -->
                    <div class="card-body card-body-cascade">
                        <div class="d-flex justify-content-between">
                            <div>
                                <span><i class="far fa-heart red"></i></span>
                                <span class="font-weight-bold">{{ post.number_of_likes }}</span>
                            </div>
                            <div>
                                {% with post.comments.count as total_comments %}
                                <span><i class="fa-regular fa-comment"></i></span>
                                <span class="font-weight-bold"> {{ total_comments }}</span>
                                {% endwith %}
                            </div>
                        </div>
                        <div>
                            <h3 class="card-title"><a href="{% url 'post_detail' post.id post.slug %}" class="anchor">{{ post.title }}</a></h3>                    
                            <p>By: {{ post.author }}</p>
                            <p>{{ post.created_on }}</p>
                        </div>
                    </div>
                    <!-- Catergorey links -->
                    <div class="card-footer card-footer-cascade text-muted text-center">
                        <div class="d-flex justify-content-around pb-3">
                            <a href="{% url 'categories' post.bikes %}"><span class="btn btn-outline-dark btn-sm rounded-pill">{{ post.bikes }}</span></a>
                            <a href="{% url 'categories' post.bars %}"><span class="btn btn-outline-dark btn-sm rounded-pill">{{ post.bars }}</span></a>
                            <a href="{% url 'categories' post.gears %}"><span class="btn btn-outline-dark btn-sm rounded-pill">{{ post.gears }}</span></a>
                        </div>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<!-- Pagination of list -->
{% if is_paginated %}
<nav class="mb-5" aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link text-dark rounded m-1">&laquo; PREV </a></li>
        {% endif %}
        {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
            <li class="page-item disabled"><a href="?page={{ i }}" class="page-link text-dark rounded m-1">{{ i }}</a></li>
        {% else %}
            <li><a href="?page={{ i }}" class="page-link text-dark rounded m-1">{{ i }}</a></li>
        {% endif %}
    {% endfor %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link text-dark rounded m-1"> NEXT &raquo;</a></li>

        {% endif %}
    </ul>
</nav>
{% endif %}

{% endblock %}
