{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container pt-5">
    <div class="col-lg-6 col-md-8 offset-lg-3 offset-md-2 ">
        <div class="row">
            <div class="image-container">
                {% if "placeholder" in post.cover_image.url %}
                <img class="card-img-top"
                    src="/static/images/placeholder.jpg">
                {% else %}
                <img class="card-img-top" src=" {{ post.cover_image.url }}">
                {% endif %}
            </div>
        </div>
        <div class="row">
            <h3 class="post-title">{{ post.title }}</h3>
        </div>
        <div class="row">
            <p class="post-subtitle">By: {{ post.author }} | Created: {{ post.created_on }}</p>
        </div>
    </div>

</div>
<div class="container-fluid">
    <div class="row px-4">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">By: {{ comment.author }} | 
                        <span class="text-muted">{{ comment.created_on }}</span>
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                <hr>
                {% endfor %}
            </div>
        </div>

    
        <div class="col-md-4 mb-4 mt-3">
            {% if user.is_authenticated %}
            <h3>Leave a comment:</h3>
            <p>As: {{ user.username }}</p>
            <form method="post" style="margin-top: 1.3em;">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-success btn-lg">Submit</button>
            </form>
            {% else %}
            <h2>Want to join in the conversation?</h2>
            <p>
                <a href="{% url 'account_signup' %}">Sign Up</a>
                <span>or</span>
                <a href="{% url 'account_login' %}">login</a>
            </p>
            {% endif %}
        </div>
    </div>
</div>



{% endblock %}