{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container pt-5">
    <div class="col-lg-6 col-md-8 offset-lg-3 offset-md-2 ">
        <div class="row">
            <div class="image-container">
                {% if "placeholder" in post.cover_image.url %}
                <img class="card-img-top"
                    src="/static/images/placeholder.jpg">
                {% else %}
                <img class="card-img-top" src=" {{ post.cover_image.url }}">
                {% endif %}
            </div>
        </div>
        <div class="row">
            <h3 class="post-title">{{ post.title }}</h3>
        </div>
        <div class="row">
            <p class="post-subtitle">By: {{ post.author }} | Created: {{ post.created_on }}</p>
        </div>
    </div>

    

    <div class="row">
        <div class="col">
            <h2>Comments</h2>
            <p>As: {{ user.username }}</p>
            <form method="post" style="margin-top: 1.3em;">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-signup btn-lg">Submit</button>
            </form>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if user.is_authenticated %}
            <h3>Leave a comment:</h3>
            <p>As: {{ user.username }}</p>
            <form method="post" style="margin-top: 1.3em;">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-signup btn-lg">Submit</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>



{% endblock %}