{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}
<div class="container-fluid mb-5">
    <div class="row text-center my-5">
        <!-- Title -->
        <h2>Hi {{ user.username|capfirst }} </h2>
    </div>
    <div class="row my-3">
        <!-- Create a post button -->
        <div class="col-8 offset-2 text-center">
            <div class="row">
                <a href="{% url 'create_post' %}" class="btn btn-outline-dark"><span class="p-2"><i
                            class="fa-regular fa-plus fa-lg"></i></span> Show Us Your Bike</a>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <!-- View liked posts button -->
        <div class="col-6 text-center">
            <div class="row-3">
                <a href="{% url 'liked_list' %}" class="btn btn-outline-dark"><span class="p-2">
                    <i class="far fa-heart red"></i></span> Favourites</a>
            </div>
        </div>
        <!-- Drop-down account management button -->
        <div class="col-6 text-center">
            <div class="row-3 dropdown">
                <a href="#" class="btn btn-outline-dark dropdown-toggle" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <span class="p-2"><i class="fa-sharp fa-regular fa-user"></i></span> Account</a>
                <ul class="dropdown-menu" data-bs-theme="light">
                    <li><a class="dropdown-item" href="{% url 'account_logout' %}">Log Out</a></li>
                    <li><a class="dropdown-item" href="{% url 'delete_user' %}">Delete Profile</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mb-5">
    <div class="col mx-3">
        <!-- List of posts -->
        <div class="row">
            {% for post in posts %}
            <div class="col-md-4 mb-4">
                <!-- Post card / conatainer-->
                <div class=" card card-cascade bg-light rounded shadow h-100">
                    <div class="view view-cascade overlay">
                        <!-- Feature image -->
                        {% if "placeholder" in post.cover_image.url %}
                        <img src="https://res.cloudinary.com/defppxuea/image/upload/v1689765450/static/images/placeholder2.jpg.b5217726b98b.webp" 
                            alt="placeholder image of bike parts" class="img-fluid card-img-top">
                        {% else %}
                        <img src="{{ post.cover_image.url }}" alt="image of bike uploaded by user" class="img-fluid card-img-top">
                        {% endif %}
                    </div>
                    <!-- Card body -->
                    <div class="card-body card-body-cascade">
                        <div class="d-flex justify-content-between">
                            <div>
                                <span><i class="far fa-heart red"></i></span>
                                <span class="font-weight-bold">{{ post.number_of_likes }}</span>
                            </div>
                            <div>
                                {% with post.comments.count as total_comments %}
                                <span><i class="fa-regular fa-comment"></i></span>
                                <span class="font-weight-bold"> {{ total_comments }}</span>
                                {% endwith %}
                            </div>
                        </div>
                        <div>
                            <h3 class="card-title"><a href="{% url 'post_detail' post.id post.slug %}" class="anchor">{{ post.title }}</a></h3>                    
                            <p>By: {{ post.author }}</p>
                            <p>{{ post.created_on }}</p>
                        </div>
                    </div>
                    <!-- Catergorey links -->
                    <div class="card-footer card-footer-cascade bg-light text-center">
                        <div class="d-flex justify-content-around pb-3">
                            <a href="{% url 'categories' post.bikes %}"><span class="btn btn-outline-dark btn-sm rounded-pill">{{ post.bikes }}</span></a>
                            <a href="{% url 'categories' post.bars %}"><span class="btn btn-outline-dark btn-sm rounded-pill">{{ post.bars }}</span></a>
                            <a href="{% url 'categories' post.gears %}"><span class="btn btn-outline-dark btn-sm rounded-pill">{{ post.gears }}</span></a>
                        </div>
                        <div class="d-flex justify-content-around my-3">
                            <a href="{% url 'update_post' post.slug %}"><span class="btn btn-outline-primary btn-sm">EDIT</span></a>
                            <a href="{% url 'delete_post' post.slug %}"><span class="btn btn-outline-danger btn-sm">DELETE</span></a>
                        </div>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<!-- Pagination of list -->
{% if is_paginated %}
<nav class="mb-5" aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link text-dark rounded m-1">&laquo; PREV </a></li>
        {% endif %}
        {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
            <li class="page-item disabled"><a href="?page={{ i }}" class="page-link text-dark rounded m-1">{{ i }}</a></li>
        {% else %}
            <li><a href="?page={{ i }}" class="page-link text-dark rounded m-1">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link text-dark rounded m-1"> NEXT &raquo;</a></li>

        {% endif %}
    </ul>
</nav>
{% endif %}

{% endblock %}