{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}
<div class="container-fluid mb-5">
    {% if user.is_authenticated %}
    <div class="row text-center my-5">
        <h2>Hi {{ user.username|capfirst }} </h2>
    </div>
    <div class="row">
        <div class="col-4 text-center">
            <div class="row-3">
                <a href="{% url 'create_post' %}" class="btn btn btn-outline-dark"><span class="p-2"><i
                    class="fa-regular fa-plus fa-lg"></i></span> Show Us Your Bike</a>
            </div>
        </div>
        <div class="col-4 text-center">
            <div class="row-3">
                <a href="{% url 'liked_list' %}" class="btn btn btn-outline-dark"><span class="p-2"><i
                    class="fa-solid fa-bookmark fa-lg"></i></span> Favourites</a>
            </div>
        </div>
        <div class="col-4 text-center">
            <div class="row-3 dropdown">
                <a href="#" class="btn btn-outline-dark dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="p-2"><i class="fa-sharp fa-regular fa-user"></i></span> Account</a>
                    <ul class="dropdown-menu" data-bs-theme="dark">
                        <li><a class="dropdown-item" href="{% url 'account_logout' %}">Log Out</a></li>
                        <li><a class="dropdown-item" href="{% url 'delete_user' %}">Delete Profile</a></li>
                      </ul>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row mt-4">
    <h3>Here are all your previous posts</h3>
</div>
<div class="row">
    <div class="col-12 mt-3 left">
        <div class="row">
            {% for post in posts %}
            <div class="col-md-4 mt-3">
                <div class="col mb-4 h-100">

                    <div class="card-body mx-4">
                        <div class="image-container">
                            {% if "placeholder" in post.cover_image.url %}
                            <img class="card-img-top rounded" src="/static/images/placeholder2.jpg.webp">
                            {% else %}
                            <img class="card-img-top rounded" src=" {{ post.cover_image.url }}">
                            {% endif %}
                            <div class="image-flash">
                                <div class="col">
                                    <p class="author">By: {{ post.author }}</p>
                                </div>
                                <div classs="col">
                                    <p><i class="far fa-heart"></i>{{ post.number_of_likes }}</p>
                                </div>
                            </div>
                        </div>

                        <div>
                            <a href="{% url 'post_detail' post.pk post.slug %}" class="post-link">
                                <h2 class="card-title text-center">{{ post.title }}</h2>
                            </a>
                        </div>

                        <div class="row my-3 text-center">
                            <div class="col">
                                <a href="{% url 'categories' post.bikes %}"
                                    class="badge rounded-pill text-bg-warning">{{ post.bikes }}</a>
                            </div>
                            <div class="col">
                                <a href="{% url 'categories' post.bars %}"
                                    class="badge rounded-pill text-bg-warning">{{ post.bars }}</a>
                            </div>
                            <div class="col">
                                <a href="{% url 'categories' post.gears %}"
                                    class="badge rounded-pill text-bg-warning">{{ post.gears }}</a>
                            </div>
                        </div>

                        <div class="row text-center my-4">
                            <div class="col">
                                <a href="{% url 'update_post' post.slug %}" class="btn btn-outline-dark">EDIT</a>
                            </div>
                            <div class="col">
                                <a href="{% url 'delete_post' post.slug %}" class="btn btn-outline-danger">DELETE</a>
                            </div>
                        </div>
                        <p class="card-text text-muted h6">{{ post.created_on}}</p>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}

        </div>
    </div>
</div>
{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

        {% endif %}
    </ul>
</nav>
{% endif %}
{% else %}
<div class="row text-center my-5">
    <h2>It looks like your not logged in...</h2>
</div>
<div class="col-8 offset-2 my-5 text-center">
    <div class="row">
        <p>Log in or sign up to enjoy the full experience of our community</p>
    </div>
    <div class="row">
        <a href="{% url 'account_login' %}" class="btn btn-warning">Log In</a>
        <a href="{% url 'account_signup' %}" class="btn btn-warning">Sign Up</a>
    </div>
</div>
{% endif %}

</div>
{% endblock %}