{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}
<section class="container">
    <div class="col-8 offset-2">
        <div class="row">
            <h1 class="title">Edit your post</h1>
        </div>
        <div class="row mb-4">
            <h4>Have you made a mistake, have more info to add or just made changes to your bike,
                feel free to update your post.</h4>
        </div>
    </div>
    <!-- Update post form -->
    <div class="col-8 offset-2 mb-5">
        <form method="POST" enctype="multipart/form-data">
            {{ form | crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-success">UPDATE</button>
        </form>
        <form class="mt-3">
            <input class="btn btn-outline-dark" type="button" value="CANCEL" onclick="history.back()">
          </form>
    </div >
</section>

{% endblock %}